[submodule "external/FraxFramework"]
	path = external/FraxFramework
	url = https://github.com/mastercuber55/Frax-Framework
[submodule "external/enet"]
	path = external/enet
	url = https://github.com/lsalzman/enet.git
[submodule "external/raygui"]
	path = external/raygui
	url = https://github.com/raysan5/raygui
[submodule "external/udp-discovery-cpp"]
	path = external/udp-discovery-cpp
	url = https://github.com/truvorskameikin/udp-discovery-cpp.git
[submodule "external/twm"]
	path = external/twm
	url = https://github.com/mastercuber55/TinyWindowManager.git
